.cookie-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  background: #111;
  color: white;

  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: Arial;
  z-index: 9999;
}

.cookie-banner a {
  color: #00bfff;
}

.cookie-banner button {
  background: #00bfff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
}

.cookie-banner button:hover {
  background: #0099cc;
}
